
.projectContainer {
    width: 100%;
    padding:1em;
}
.title{
    color: rgb(238, 212, 212);
}
.projectList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* background-color: #6C3594; */

.projectListItem {
    /* border: 4px solid #e0be5c; */
    background-color: #c3f0c8;
    margin: 1em;
    width: 70%;
    border-radius: 15px;
    color: rgb(73, 72, 72);
    letter-spacing: .05px;
    display: flex;
    /* flex-direction: column; */
}

.projectText {
display: flex;
flex-direction: column;
width:100%;
padding: 1em;
}

.projectTitle {
    /* border: 1px solid #e0be5c; */
    color: #181414;
    height: auto;
    /* background-color: 	#d5bfe6; */
    border-radius: 15px;
    font-size: 1.25rem;
}
.projectLinkBox{
    padding: 1em;
    margin-left: 1em;
 
    width: fit-content;
}
.projectLink{
    color: #504c4c;
    background-color: #d6f3da;
    padding: .5em;
    border: white;
    border-radius: 10px;

}
.projInfo {

    /* margin: 1em; */
    padding-top: 1em;

}


.projectDesc {
    /* border: 5px solid #e0be5c; */
    /* font-weight: 300; */
    font-size: 1.1rem;
    letter-spacing: .25px;
    line-height: 25px;
    width: 90%;
    display: flex;
    padding-left: 2em;
    color: #504c4c;
}

.gitHubIcon {
    width: 16px;
    height: 16px;
    padding-top: 2em;
    padding-left: 2em;
}

