.projectList{
    margin: 1em;
    padding: 1em; 
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projectListItem {
    border: 5px solid #e0d7ff;
    background-color: #d7eeff;
    margin: 1em;
    width: 400px;
    border-radius: 2.5%;
    color: rgb(81, 78, 78);
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap:break-word;
    /* flex-direction: column; */
    letter-spacing: .05px;
    align-items: left;
    text-align: center;
}

.projectTitle{
    height: 200px;
    color: black;
    padding: 1em;
    justify-content: left;
}

.demoLink {
    color: inherit;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-direction: column;
}