.about {
    padding: 2em;
    margin-bottom: -.25em;
    border-bottom: 5px solid #ffcce1;
    border-top: 5px solid #ffcce1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

.skillSetIcon {
  height: 56px;
  width: auto;
}

.skillsIcons{
  display: flex;
  flex-wrap: wrap;
  margin-top: -12.5px;
  margin-bottom: -12.5px;

}

.expressIcon{
  width:90px;
}

/* .skillset {

} */