.about {

  margin-top: 2.5em;
  margin-left: 0;
  padding:1em;
    /* border: 3px solid #e0be5c; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.skillSetIcon {
  height: 56px;
  width: auto;
  padding: 10px;
}

.skillsIcons{
  display: flex;
  padding: 1em;
}

.expressIcon{
  width:90px;
}



.intro {
  font-size: 3rem;
  color: white;
}

 .skillSet {
  padding: 1em;
  font-size: 1.15rem;
  color: rgb(235, 172, 172);
}


/*
.skillSetTwo {
} */