.socialIcon {
    width: 48px;
    height: 48px;
    padding: 2em;
}



.contactInfo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact {
    border-top: 5px solid #ffcce1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    flex-wrap: wrap;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}


.email {
    color: #ffcce1;
}

