.socialIcon {
    width: 48px;
    height: 48px;
    padding: 1em;
    border: 1px solid pink;
    margin: 1em;
}

.contactIcons{
    margin: 1em;
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;

}

.content {
    margin: 1em;
}


.contactInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
