.socialIcon {
    width: 48px;
    height: 48px;
    padding: 1em;
    margin: 1em;
}

.contactIcons{
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    flex-wrap: wrap;


}


.contactInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    border-top: 5px solid #ffcce1;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}