* {
  font-family: Helvetica;
}

body {
  overflow-x: hidden; 
  overflow-y: scroll;
}



.App {
  width: 100%;
  background-color: #da362d;
height: 100%;
}



a, Link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #7d7882;
}

li {
  list-style-type: none;
  /* padding: .5em; */
}




