* {
  font-family: Arial, Helvetica, sans-serif
}
body {
  overflow-x: hidden; 
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  background-color: rgb(122, 26, 58);
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #ffcce1;
}

.container {
  height: auto;
  width: 100vw;
  /* border: 2px solid #ffcce1; */
}

.content {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 1em; 
  padding: 1em; 
  display: flex;
  flex-direction: column;
}

.detail {
  padding: 1em;
  width: 100%;
}

h1 {
  border: 1px solid yellowgreen;
}

h2 {
  border-radius: .5em;
}


a, Link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  /* color: #eb8fe5; */
  font-weight: bold;
}

ul, li {
  list-style-type: none;
  padding: 1em;
}

.content {
  margin: 1em;
}
