.star {
    width: 32px;
    height: 32px;
    padding: 1em;
}

.rocket {
    width: 40x;
    height: 40px;
    padding: 1em;
}

.planet2 {
    width: 48px;
    height: 48px;
    padding: 1em;
}

.nodeLogo {
    width: 40x;
    height: 40px;
    padding: 1em;
}
.jsLogo {
    width: 40x;
    height: 40px;
    padding: 1em;
}

.mongo {
    width: 40x;
    height: 40px;
    padding: 1em;
}

.cssLogo {
    width: 46px;
    height: 48px;
    padding: 1em;
}

.expressLogo {
    width: 32x;
    height: 32px;
    padding: 1em;   
}

.twelvePtStar {
    font-size: 4em;
    color: white;
    padding: 1em;
}

.navbar {
    width: 100%;
}

.sceneIcons {
    display: flex;
    margin-top: 15em;
    margin-left: 15em;
}